<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>net.opik.orbit.voice.backgroundprobe.widget</string>
<key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
<key>CFBundleName</key><string>OrbitVoiceBackgroundProbeWidget</string>
<key>CFBundlePackageType</key><string>XPC!</string>
<key>CFBundleShortVersionString</key><string>1.8</string>
<key>CFBundleVersion</key><string>9</string>
<key>NSExtension</key><dict>
  <key>NSExtensionPointIdentifier</key><string>com.apple.widgetkit-extension</string>
  <key>NSExtensionPrincipalClass</key><string>$(PRODUCT_MODULE_NAME).OrbitVoiceBackgroundProbeWidgetBundle</string>
  <key>NSExtensionAttributes</key><dict><key>NSSupportsLiveActivities</key><true/></dict>
</dict>
</dict></plist>
